

.login-screen {
	@apply bg-bg;

}

.login-screen label {
	@apply text-primary my-4;
	display: inline-block;
	width: 100px;
	height: 30px;
}

.login-screen .cont {
	@apply my-4;
}

.login-screen input {
	@apply rounded-lg px-4 py-2 bg-gray-200;
}

.login-screen button {
	@apply bg-primary px-5 py-3 text-white rounded-lg;
	margin: auto;
}